<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCl4oSej8ghHwed9vZc_gL49m0E6wXtOBM</string>
	<key>GCM_SENDER_ID</key>
	<string>907290387716</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Movie-Adviser</string>
	<key>PROJECT_ID</key>
	<string>movieadvicer-45e55</string>
	<key>STORAGE_BUCKET</key>
	<string>movieadvicer-45e55.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907290387716:ios:ee7bd55a72a6aa1eb25c51</string>
</dict>
</plist>